
<h2>Android İpuçları</h2>
<div class="item active">
    <img src="https://raw.githubusercontent.com/MobileTipsters/android-daily-tips/master/screenshots/FragmentContainerView.png" alt="Los Angeles" style="width:100%;">
</div>
